{% include 'base.html' %}
{% include 'navigation.html' %}

{% block content %}
<!-- Main Heading Section -->
<section class="main-heading text-center" style="margin-top: 50px;">
    <h1>About Us</h1>
</section>

<!-- About Us Section -->
<section class="about-us container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h2 class="font-weight-bold">Who we are and<br>what we do</h2>
            <p class="lead">This is the World's leading portal for<br>easy and quick management</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis in hic temporibus quos nihil cumque sit aliquid, aperiam maiores ducimus qui aliquam rerum, doloribus dolor et eius tempora, corrupti labore!</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus qui officiis quaerat, delectus provident, voluptas voluptatum perspiciatis dolore voluptates illum esse incidunt. Fugit, ullam totam nobis vel modi officiis quas.</p>
        </div>
    </div>
</section>

<!-- Our Team Section -->
<section class="our-team text-center" style="margin-top: 60px;">
    <div class="container">
        <h3 class="font-weight-bold">Our Team</h3>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt<br>ut labore et dolore magna aliqua. Ut enim ad minim.</p>
        <div class="border mx-auto" style="width: 60px; height: 2px; background-color: #000; margin-top: 20px;"></div>
    </div>
</section>

{% endblock content %}

{% include 'footer.html' %}
