{% include 'base.html' %}
{% load static %}
{% include 'navigation.html' %}


{% block content %}
{% if error == "no" %}
<script>
    window.onload = function() {
        alert('Record saved successfully');
        window.location.href = "{% url 'view_doctor' %}";
    }
</script>
{% elif error == "yes" %}
<script>
    window.onload = function() {
        alert('Invalid login, try again');
    }
</script>
{% endif %}

<div class="container" style="margin-top: 100px;">
    <h2 class="text-center">Add Doctor </h2>
    <form method="POST">
        {% csrf_token %}
        <label for="Name">Doctor Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required>
        <label for="Mobile">Mobile</label>
        <input type="int" class="form-control" id="Mobile" name="Mobile" required>
        <label for="special">Speciality</label>
        <input type="text" class="form-control" id="special" name="special" required>
        <input type="submit" value="Add Doctor" class="form-control btn btn-primary">
    </form>
</div>
{% endblock content %}
{% include 'footer.html' %}
